body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.todo {
    display: grid;
    grid-template-rows: 8% 92%;
    grid-template-columns: 1fr 4fr;
    overflow: hidden;
    background-image: url(../resources/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: retroFont;
    src: url(../resources/Haike-Regular.ttf);
}

#title {
    padding-top: 1%;
    text-align: center;
    grid-area: 1 / 1 / 1 / 3;
    background-image: linear-gradient(to left,rgb(189, 0, 255) 30%, rgb(0, 30, 255), rgb(0, 184, 255), rgb(0, 255, 159) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80%;
    font-family: retroFont;
    z-index: 2;
}

#title>h1 {
    position: relative;
    bottom: 25%;
}

.navigation {
    background: transparent;
    text-align: center;
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}

.innerContainer {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    background: transparent;
}

.box {
    text-align: center;
    background: transparent;
}

.imageBox {
    top: 25%;
    left: 25%;
    grid-area: 1/1/3/2;
}

.imageBox>img {
    max-width: 60%;
    max-height: 60%;
    border-radius: 1%;
    position: relative;
    top: 15%;
    object-fit: cover;
    object-position: 100% 0;
}

.descriptionBox {
    grid-area: 1/2/2/2;
    padding-top: 50%;
    padding-right: 2%;
    font-size: 100%;
    font-style: italic;
}

.contactBox {
    grid-area: 2/2/3/3;
    padding-right: 2%;
}

footer {
    height: 20%;
    width: 100%;
    text-align: center;
    align-content: center;
    background-image: url(../resources/vaporwaveloop.gif);
    background-size: 100% 100%;
}

img {
    border-radius: 10%;
    max-width: 100%;
    max-height: 100%;
}

h1 {
    position: relative;
    left: 0%;
}

button {
    margin: 1%;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    font-family: retroFont;
    font-size: 100%;
    font-weight: bold;
    background: transparent;
    width: 65%;
    height: 80%;
    position: relative;
    left: 30%;
    text-align: center;
    color: cyan;
    border-radius: 5%;
    background-color: #302244;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, rgb(189, 0, 255) 30%, rgb(0, 30, 255));
    border-image-slice: 1;
    overflow: hidden;
}

@font-face {
    font-family: retroFontCursive;
    src: url(../resources/Haike-RegItalic.ttf)
}

button:hover {
    -webkit-transition-duration: 0.17s;
    transition-duration: 0.17s;
    font-family: retroFontCursive;
    font-size: 120%;
    cursor: pointer;
    width: 90%;
    background-color: rgb(0, 184, 255);
    font-size-adjust: inherit;
    color: rgb(189, 0, 255);
    border-radius: 0%;
}