body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(../resources/background_1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@font-face {
    font-family: lazer84;
    src: url(../resources/Lazer84.ttf);
}

.title {
    padding-top: 2vh;
}

.retro-text-1 {
    font-family: lazer84;
    background-image: url(../resources/loop_2.gif);
    background-size: 100% 10000%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.retro-text-2 {
    font-family: lazer84;
    background-image: url(../resources/loop_3.gif);
    background-size: 100% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.retro-text-3 {
    font-family: lazer84;
    background-image: url(../resources/loop_4.gif);
    background-size: 100% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.retro-text-4 {
    font-family: lazer84;
    background-image: url(../resources/loop_5.gif);
    background-size: 100% 30%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game {
    height: 50vh;
    max-height: 50vh;
}

#score_tab {
    height: 15vh;
    padding-left: 20vh;
    padding-right: 20vh;
}

.options {
    height: 25vh;
    max-height: 25vh;
    overflow: hidden;
}

.choice-image {}

.user-choice, .machine-choice {}

.user-score, .machine-score {
    /* text-align: center;
    line-height: 50vh;
    */
}

.user-mark, .machine-mark {
    /*text-align: center;
    line-height: 15vh;
    */
}

img {
    max-width: 200px;
    max-height: 170px;
    background-color: transparent;
}

.img-container {
    max-width: 200px;
    max-height: 170px;
}

.img-container:hover {
    cursor: pointer;
}

.bg-3 {
    background-image: url(../resources/background_2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.home_button_div {
    position: fixed;
    top: 2%;
    right: 2%;
    height: 10%;
    width: 10%;
}

.home_button {
    font-weight: bold;
    font-size: 100%;
    width: 100%;
}

.gradient-border {
    --borderWidth: 3px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
}

.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, rgb(189, 0, 255), rgb(214, 0, 255) 50%, rgb(13, 2, 33), rgb(0, 184, 255), rgb(0, 255, 159));
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}