*{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    height: 10%;
    background: white;
    
}

body{
    background: bisque;
    text-align: center;
    
}


.options {
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0%;
    width: 60%;
    position: relative;
    left: 20%;
    height: 35%;
}

p {
    font-size: 2em;
    padding: 10px;
}

h2{
    font-size: 3em;
}

h1 {
    padding: 15px;
}

.option {
    border: 2px solid black;
    border-radius: 100%;
    
    display: inline-block;
    height: 95%;
    width: 30%;
    overflow: hidden;
}


img {
    max-height: 100%;
    max-width: 100%;
}

img:hover{
    background:#494533;
}

.option:hover {
    cursor: pointer;
    background:#494533;
}

.points {
    
    color: white;
    background:#494545;
    border: 5px solid black;
    width: 20%;
    position: relative;
    left: 40%;
    margin-top: 1em;
    margin-bottom: 2em;
    padding-bottom: 10px;
}


.scoresDiv{
    position: relative;
    right: 3%;
    font-size: 200%;
}

.user{
    display: inline-block;
    height: 4%;
    width: 20%;
    z-index: 1;
    background: red;
    position: relative;
    right: 42%;
    bottom: 5%;
    font-size: 15px;
}

.machine{
    display: inline-block;
    height: 4%;
    width: 20%;
    z-index: 1;
    background: red;
    position: relative;
    left: 42%;
    bottom: 5%;
    font-size: 15px;
    align-content: center;
}
.homeButton {
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 40px;
}

button{
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 40px;
    color: blue;
    font-style: bold;
}

p2{
    font-size: 40px;
}